html {
  width: 100%;
  height: 100%;
  
  background: #008b94; /* Old browsers */
  background: -moz-linear-gradient(top,  #008b94 0%, #020050 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #008b94 0%,#020050 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #008b94 0%,#020050 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008b94', endColorstr='#020050',GradientType=0 ); /* IE6-9 */
}

body {
    background: none;
}

hr {
    border-top: 1px solid #FFFFFF;
}

.btn {
    background-color: #4792de;
}

.btn:hover .btn:focus {
    background-color: #294864;
}

.btn:active, .btn.active {
    background-color: #294864;
}

/* Style the tab content */
.tabcontent {
    display: none;  /* To be modified by tab buttons */
    background: none;
    position: fixed;
    top: 64px;
    left: 0%;
    width: 100%;
    z-index: 1;
    color: white;
    /* align-items: center; */
    overflow-y:scroll;
    height:100%;
    line-height: 1;
    font-size: 80%;
}

.tabcontent th {
    padding-left: 16px;
}

.tabcontent td {
    padding-left: 16px;
    padding-right: 16px;
}

.tabcontent button {
    border: none;
    padding: 10px;
    border-radius: 10px 10px 10px 10px; 
    background-color: #DDD;
    transition: 0.3s;
}

.tabcontent button:hover {
    background-color: #FFF;
}

.tabcontent select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: white;
}

.toolcontent {
    display: none;  /* To be modified by tool type selector */
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.es-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: white;
}

.es-list {
    background: black;
    color: white;
}

.es-list li.selected {
    background: black;
    color: white;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: white;
}

.check-button {
    display:none;
}

.check-button + label {
    color:#f2f2f2;
}

.check-button + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.svg) left top no-repeat;
    cursor:pointer;
}

.check-button:checked + label span {
    background:url(check_radio_sheet.svg) -19px top no-repeat;
}

.radio-button {
    display:none;
}

.radio-button + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
}

.radio-button + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.svg) -38px top no-repeat;
    cursor:pointer;
}

.radio-button:checked + label span {
    background:url(check_radio_sheet.svg) -57px top no-repeat;
}

hr.vseparator {
    border-top: 2px solid #FFFFFF;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
hr.vseparator:after {
    /* content: '\2699'; */  /* Gear */
    content: '\2689';  /* Circle with 2 dots */
    /* content: '\26AB'; */  /* Circle */
    /* content: '\229A'; */  /* Concentric circles */
    display: inline-block;
    position: relative;
    top: -19px;
    padding: 0 10px;
    background: none;
    color: #FFFFFF;
    font-size: 36px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

#cleditor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 256px;
}

#pyeditor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 256px;
}

@media screen and (max-width: 720px) {
  .brand-title {
    display: none;
  }
}
