.brand small {
    color: #16A085;
}

.navbar {
    padding: 0;
    margin-bottom: 0;
    background-color: #000000;
    z-index: 5;
    border-bottom: 1px solid white
}

.navbar p {
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar-brand:hover {
    /* color: #294864; */
    color: #FFFFFF;
}

.navbar ul li {
  padding: 0;
  border: none;
}

.navbar ul li a {
  color: white;
}

.navbar ul li a:visited {
  color: white;
}

.navbar ul li a:hover {
  color: #00e6f4;
  font-weight: bold;
}

.nav-item.dropdown {
    display: none;
    padding: 0;
    margin-top: 10px;
    height: 44px;
}
.dropdown-toggle {
    padding-left: 0;
    padding-right: 0;
}
.dropdown-toggle::after {
    display:none
}
a.dropdown-item {
    background-color: #666;
    color: white !important;
}
a.dropdown-item:hover {
    background-color: #BBB;
    color: black !important;
}
a.dropdown-item.active {
    background-color: #FFF;
    color: black !important;
}
.dropdown-menu.show {
  left: auto;
  right: 0;
}

.tab {
    overflow: hidden;
    margin-top: 10px;
    height: 44px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 15px 15px 0px 0px; 
    background-color: #666;
    color: white;
}

.closeTabButton {
    transition: 0.3s;
    color: black !important;
}
.closeTabButton:hover {
    color: red !important;
}

.tab button:hover {
    background-color: #BBB;
    color: black;
}

.tab button.active {
    background-color: #FFF;
    color: black;
}
