#timeline3 {
    width: 100vw;
    height: calc(100vh - 55px - 240px);
    overflow-y: scroll;
}

svg.scrollable {
    width: 100%;
}

.timeline-label {
    color: white;
    fill: white;
}

.textlabels {
    color: white;
    fill: white;
}

rect {
    stroke: #bb1111;
    stroke-width: 1;
}

g > text {
    color: white;
    fill: white;
}

#hoverRes {
    width: 100vw;
    height: 240px;
    background-color: black;
    border-top: 1px solid white;
    color: white;
}

#toolData {
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.toolTitle {
    font-size: 2em;
    width: 100%;
    line-height: 1 !important;
    color: white;
}

.toolTimer {
    width: 100%;
    line-height: 1 !important;
    color: #aaaaaa
}

.toolDeps {
    column-count: 3;
}
